.carCard {
	border: black solid 1px;
}

#navBar input {
	display: block;
	margin: 0 auto;
}

.carDescriptionArea {
	height: 7em;
}

.makeAndModel {
	height: 2em;
}

.availability {
	height: 2.5em;
}

.selected {
	background-color: pink;
	border-width: 5px;
}
